<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:jsp="http://java.sun.com/xml/ns/javaee/jsp" xmlns:web="http://xmlns.jcp.org/xml/ns/javaee">
    <display-name>Archetype Created Web Application</display-name>
    <servlet>
        <servlet-name>elcom-service</servlet-name>
        <servlet-class>com.sun.jersey.spi.container.servlet.ServletContainer
        </servlet-class>
        <init-param>
            <param-name>com.sun.jersey.config.property.packages</param-name>
            <param-value>com.elcom.service;org.codehaus.jackson.jaxrs</param-value>
        </init-param>
        <init-param>
            <param-name>com.sun.jersey.api.json.POJOMappingFeature</param-name>
            <param-value>true</param-value>
        </init-param>
        <init-param>
            <param-name>jersey.config.server.provider.packages</param-name>
            <param-value>com.elcom.service.filter</param-value>
        </init-param>
        <init-param>
            <param-name>com.sun.jersey.spi.container.ContainerResponseFilters</param-name>
            <param-value>com.elcom.service.filter.CORSFilter</param-value>
        </init-param>
        <init-param>
            <param-name>com.sun.jersey.config.feature.DisableWADL</param-name>
            <param-value>true</param-value>
        </init-param>
        <load-on-startup>1</load-on-startup>
    </servlet>
    <servlet-mapping>
        <servlet-name>elcom-service</servlet-name>
        <url-pattern>/service/*</url-pattern>
    </servlet-mapping>
    <jsp-config>
        <jsp-property-group>
            <url-pattern>*.jsp</url-pattern>
            <page-encoding>UTF-8</page-encoding>
        </jsp-property-group>
    </jsp-config>
    <filter>
        <filter-name>ExceptionFilter</filter-name>
        <filter-class>com.elcom.service.filter.ExceptionFilter
        </filter-class>
    </filter>
    <filter-mapping>
        <filter-name>ExceptionFilter</filter-name>
        <url-pattern>/*</url-pattern>
        <dispatcher>FORWARD</dispatcher>
        <dispatcher>REQUEST</dispatcher>
        <dispatcher>INCLUDE</dispatcher>
        <dispatcher>ERROR</dispatcher>
    </filter-mapping>
    <error-page>
        <error-code>400</error-code>
        <location>/index.jsp?errorCode=400</location>
    </error-page>
    <error-page>
        <error-code>404</error-code>
        <location>/index.jsp?errorCode=404</location>
    </error-page>
    <error-page>
        <error-code>405</error-code>
        <location>/index.jsp?errorCode=405</location>
    </error-page>
    <error-page>
        <error-code>500</error-code>
        <location>/index.jsp?errorCode=500</location>
    </error-page>
    <error-page>
        <error-code>502</error-code>
        <location>/index.jsp?errorCode=502</location>
    </error-page>
  
    <welcome-file-list>  
        <welcome-file>index.html</welcome-file>  
    </welcome-file-list>
  
    <listener>
        <listener-class>com.elcom.background.thread.InterviewThreadPool</listener-class>
    </listener>
  
</web-app>